{
  "extends": "@antfu",
  "rules": {
    "semi": "off",
    "@typescript-eslint/semi": "off",
    "quotes": "off",
    "@typescript-eslint/quotes": "off",
    "@typescript-eslint/member-delimiter-style": "off",
    "no-tabs": "off",
    "@typescript-eslint/indent": "off",
    "arrow-parens": "off"
  }
}
