{
  "extends": "@antfu",
  "rules": {
    "semi": "off",
    "@typescript-eslint/semi": ["warning", "always"],
    "quotes": ["warning", "double"],
    "@typescript-eslint/quotes": ["warning", "double"],
    "@typescript-eslint/member-delimiter-style": "off",
    "no-tabs": "off",
    "@typescript-eslint/indent": "off",
    "arrow-parens": "off"
  }
}
